

body {

	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/paper_fibers.png");
	color: #1c1f33;
	text-align: justify;
	font-family: "Manrope", sans-serif;
	padding-right: 50px;
	padding-left: 50px;

}

h1{
	font: italic 25px "Playfair Display SC";
}

.noticia1 h1{
	font-weight: bold;
}

p{
	line-height: 1.3;
	font-size: 18px;
}

img{
	max-width: 400px;
}

.nombreDiario{
	font-size: 70px;
	font-weight: bold;
	text-align: center;
}

hr{
	min-height: 2.5px;
	background: #1c1f33;
}

.datosDelDia{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	font-size: 25px;
}

.datosDelDia *{

	margin:0;

	padding: 0;

}

.app{
	display: grid;
	grid-template-columns: 70% 30%;
	grid-auto-rows: minmax(200px, auto);
	grid-template-areas: 
		"central sidebar"
		"footer footer";
	grid-gap: 20px;
}

.publicidad1 img{
	max-height: 200px;
	width: 100%;
}

.seccionA{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"noticia2 noticia3"
		"noticia2 publicidad1"
		"noticia2 noticia7";
	grid-gap: 20px;
}

.seccionB{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
		"noticia8 publicidad2 noticia9";
	grid-gap: 20px;
}

.publicidad2 img{
	padding-top: 35px;
}

.noticia9 img{

	max-height: 100px;
	width: 100%;

}

.footer{
	display: grid;
	grid-template-columns: 35% 65%;
	grid-template-areas: 
		"publicidad6 noticia6";
	grid-gap: 20px;
}

.sidebar{
	display: grid;
	grid-template-areas: 
		"publicidad4"
		"noticia5"
		"noticia4"
		"publicidad5";
	grid-gap: 20px;
	grid-auto-rows: auto auto auto auto;
	align-items: center;
	justify-items:center;
}


.publicidad4 img{

	max-width: 300px;

}

.publicidad5 img{

	max-width: 300px;

}

.central{
	display: grid;
	grid-template-columns: auto;
	grid-auto-rows: minmax(200px, auto);
	grid-gap: 20px;
	grid-template-areas: 
		"noticia1"
		"seccionA"
		"seccionB";
}

.noticia1{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"titulo1 titulo1"
		"texto1 imagen1";
	grid-gap: 20px;
}

.seccionA{
	grid-area: seccionA;
}

.seccionB{
	grid-area: seccionB;
}

.titulo1{
	grid-area: titulo1;
}

.texto1{
	grid-area: texto1;
}

.imagen1{
	grid-area: imagen1;
	width: 400px;
}

.sidebar{
	grid-area: sidebar;
}

.central{
	grid-area: central;
}

.footer{
	grid-area: footer;
}

.datosDelDia{
	grid-area: datosDelDia;
}

.noticia1{
	grid-area: noticia1;
}

.noticia2{
	grid-area: noticia2;
}

.publicidad1{
	grid-area: publicidad1;
}

.noticia3{
	grid-area: noticia3;
}

.noticia4{
	grid-area: noticia4;
}

.noticia5{
	grid-area: noticia5;
}

.noticia6{
	grid-area: noticia6;
}

.noticia7{
	grid-area: noticia7;
}

.noticia8{
	grid-area: noticia8;
}

.noticia9{
	grid-area: noticia9;
}

.publicidad2{
	grid-area: publicidad2;
}

.publicidad4{
	grid-area: publicidad4;
}

.publicidad5{
	grid-area: publicidad5;
}





@media only screen and (max-width: 1220px) {
    .footer {
        grid-template-columns: 1fr;
        grid-template-areas: 
          "noticia6"
          "publicidad6";
    }
    .publicidad6{
    	justify-self: center;
    }
}



@media only screen and (max-width: 1105px) {

    .noticia1 {
        grid-template-columns: 1fr;
        grid-template-areas: 
          "titulo1"
          "imagen1"
          "texto1";
    }

    .publicidad1, .publicidad2, .imagen1{
    	justify-self: center;
    }

    .seccionA {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
			"noticia2 noticia3"
			"noticia2 noticia7"
			"publicidad1 publicidad1";
    }

    .seccionB {
        grid-template-columns: 1fr 1fr;
		grid-template-areas: 
			"noticia8 noticia9"
			"publicidad2 noticia9";
    }

    .noticia9 img{
		max-height: 1000px;
		width: 100%;
    }

	.app{
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: repeat(3, 1fr);
		grid-template-areas: 
			"central central"
			"sidebar sidebar"
			"footer footer";
	}

	.sidebar{
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: repeat(2, 1fr);
		grid-template-areas: 
			"publicidad4 noticia5"
			"publicidad5 noticia4";
	}

}


@media only screen and (max-width: 710px){

    .seccionA {
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: repeat(3, 1fr);
        grid-template-areas: 
			"noticia2 noticia2"
			"noticia3 noticia7"
			"publicidad1 publicidad1";
    }

    .imagen2, .imagen9{
    	text-align: center;
    }

    .seccionB {
		grid-template-columns: repeat(1, 1fr);
		grid-auto-rows: repeat(3, 1fr);
		grid-template-areas: 
			"noticia8"
			"publicidad2"
			"noticia9";
    }

	.sidebar{
		grid-template-columns: repeat(1, 1fr);
		grid-auto-rows: repeat(4, 1fr);
		grid-template-areas: 
			"publicidad4" 
			"publicidad5" 
			"noticia5"
			"noticia4";
	}

}

@media only screen and (max-width: 550px){

    .seccionA {
		grid-template-columns: repeat(1, 1fr);
		grid-auto-rows: repeat(4, 1fr);
        grid-template-areas: 
			"noticia2"
			"noticia3"
			"noticia7"
			"publicidad1";
    }

	body {

		padding-right: 0px;
		padding-left: 0px;

	}
}